<script>
  var links = {
    show: '<%= hike_path(@hike) %>',
    back: '<%= hikes_path %>',
    hikeAnnotationsPath: '<%= hike_annotations_path %>'
  }

  var PATH_DATA = <%= raw @hike_json %>
</script>
<style>
  .map {
    width: 100%;
    height:400px;
  }
</style>

<div class="app"></div>
